.lesson_cards__wrapper{
    display: flex;
    width: 95%;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}
.lesson_cards {
    height: 100%;
    width: 200%;
    display: flex;
}
.add_lesson{
    height:80px;
    width:auto;
    margin-top: 500px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #1F2326;
    &:hover{
        -webkit-text-fill-color: #1F2326;
        -webkit-text-stroke: 2px #df414e;
    } 
}
